@{
    ViewData["Title"] = "Strona Głowna";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="foto/wall1.jpg" class="d-block w-100 custom-height object-fit-cover" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="display-4 fw-bold"><i>Tattoo</i></h2>
                <h1 class="display-1 fw-bold">STUDIO</h1>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center text-center px-3">
    <div class="text-center mb-5">
        <h2 class="m-4">Historia studia tatuażu</h2>
        <p>
            Tattouzu to niezależne studio tatuażu założone w 2017 roku w Warszawie.<br/>
            Powstało z inicjatywy grupy artystów pasjonujących się tatuażem jako formą sztuki i wyrazu osobistego.<br />
            Od początku istnienia studio wyróżniało się autorskimi projektami, indywidualnym podejściem do klienta i dbałością o detale.<br />
        </p>
        <p>
            Z biegiem lat Tattouzu zyskało renomę miejsca przyjaznego zarówno dla fanów klasycznych stylów, jak i nowoczesnych, eksperymentalnych form tatuażu.<br />
            Studio regularnie współpracuje z artystami z Polski i zagranicy, organizując guest spoty oraz wydarzenia promujące sztukę tatuażu.
        </p>
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Kontakt"><button class="btn btn-dark w-100">Umów się na wizyte</button></a>
    </div>
    <div class="d-flex justify-content-center gap-4 flex-wrap">
        <div class="card border-0" style="width: 32rem;">
            <img src="foto/tatto1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-start">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                    <a class="icon-link icon-link-hover" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true"
                             style="width: 1em; height: 1em; vertical-align: text-bottom;">
                            <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a> 
                </p>
            </div>
        </div>
        <div class="card border-0" style="width: 32rem;">
            <img src="foto/tatto1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-start">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                    <a class="icon-link icon-link-hover" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true"
                             style="width: 1em; height: 1em; vertical-align: text-bottom;">
                            <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
        <div class="card border-0" style="width: 32rem;">
            <img src="foto/tatto1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-start">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                    <a class="icon-link icon-link-hover" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true"
                             style="width: 1em; height: 1em; vertical-align: text-bottom;">
                            <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>



