@{
    ViewData["Title"] = "Kontakt";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="/Foto/wall5.jpg" class="d-block w-100 custom-height object-fit-cover" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="display-4 fw-bold"><i>Tattoo</i></h2>
                <h1 class="display-1 fw-bold">KONTAKT</h1>
            </div>
        </div>
    </div>
</div>
    <div class="d-flex justify-content-center gap-4 flex-wrap p-4 mb-4">
        <div class="card border-0" style="width: 42rem;">
            <img src="~/Foto/salon1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1>PODSTAWOWE INFORMACJE</h1>
            <h3>POGADAJMY O TATUAŻACH. CENTRUM TRÓJMIASTA. GDAŃSK WRZESZCZ, GARNIZON.</h3>
                <p class="card-text text-start">
                    e-mail: kontakt@tatuaz.com<br />
                    ul. Jana Pawła 2 21/E7, 80-280 Gdanśk<br />
                    tel. 665-666-667<br />
                    poniedziałek-piątek 10:00-18:00<br />
                    soboty 11:00-15:00<br />
                </p>
            </div>
        </div>
        <div class="card border-0" style="width: 42rem;">
            <img src="~/Foto/salon2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h1>Dane do przelewu</h1>
                <p class="card-text text-start">
                    Sp. z o.o.: 00 0000 1000 1000 0000 7000 0002<br /><br />
                    W tytule przelewu prosimy wpisać: datę i godzinę ustalonego terminu/imię i nazwisko + imię tatuatora
                </p>
            </div>
        </div>
</div>
<div class="form-container mx-auto">
    <h3>Umów się na wizytę</h3>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label col-form-label-lg">Imie i nazwisko</label>
            <input type="email" class="form-control form-select-lg border-light btn-dark" id="exampleFormControlInput1" placeholder="Imie i nazwisko">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label col-form-label-lg">Twój email</label>
            <input type="email" class="form-control form-select-lg border-light btn-dark" id="exampleFormControlInput1" placeholder="Twój email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label col-form-label-lg">Twój telefon</label>
            <input type="email" class="form-control form-select-lg border-light btn-dark" id="exampleFormControlInput1" placeholder="Twój telefon">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label col-form-label-lg">Motyw/Temat tatuażu</label>
            <input type="email" class="form-control form-select-lg border-light btn-dark" id="exampleFormControlInput1" placeholder="Motyw/Temat tatuażu">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label col-form-label-lg">Opis tatuażu i umiejscowienia na ciele(opjonalnie)</label>
            <textarea class="form-control form-select-lg border-light btn-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Opis tatuażu i umiejscowienia na ciele(opjonalnie)"></textarea>
        </div>
        <button type="button" class="btn btn-lg btn-dark">Wyślij</button>
    </form>
</div>
