@{
    ViewData["Title"] = "Koszyk";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="~/Foto/wall1.jpg" class="d-block w-100 custom-height object-fit-cover" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="display-4 fw-bold"><i>Tattoo</i></h2>
                <h1 class="display-1 fw-bold">Koszyk</h1>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center text-center px-3">
    <div class="container py-4">
        <h2 class="mb-4">Twój koszyk</h2>
        <div class="row align-items-center border-bottom pb-3 mb-3">
            <div class="col-auto">
                <button type="button" class="btn-close" aria-label="Remove item"></button>
            </div>
            <div class="col-auto">
                <img src="~/Foto/koszulki1.png" class="img-thumbnail" alt="T-shirt Image" style="width: 80px; height: auto;">
            </div>
            <div class="col-auto">
                Koszulka
            </div>
            <div class="col">
                100,00 zł
            </div>
            <div class="col-auto d-flex align-items-center">
                <button class="btn btn-outline-secondary btn-sn me-2">-</button>
                <span> 1 </span>
                <button class="btn btn-outline-secondary btn-sn me-2">+</button>
            </div>
            <div class="col-auto">
                <strong>100,00 zł</strong>
            </div>
        </div>
        <div class="row align-items-center border-bottom pb-3 mb-3">
            <div class="col-auto">
                <button type="button" class="btn-close" aria-label="Remove item"></button>
            </div>
            <div class="col-auto">
                <img src="~/Foto/koszulki1.png" class="img-thumbnail" alt="T-shirt Image" style="width: 80px; height: auto;">
            </div>
            <div class="col-auto">
                Koszulka
            </div>
            <div class="col">
                100,00 zł
            </div>
            <div class="col-auto d-flex align-items-center">
                <button class="btn btn-outline-secondary btn-sn me-2">-</button>
                <span> 1 </span>
                <button class="btn btn-outline-secondary btn-sn me-2">+</button>
            </div>
            <div class="col-auto">
                <strong>100,00 zł</strong>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col mb-2">
                <input type="text" class="form-control border-light btn-dark" placeholder="Kupon Code" />
            </div>
            <div class="col-auto">
                <button class="btn btn-dark">Wykoszystaj Kupon</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary">Zaktualizuj Koszyk</button>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-5 bg-light p-4 rounded">
                <h5 class="mb-3"> 
                    Podszumowanie koszyka
                </h5>
                <div class="d-flex justify-content-between mb-2">
                    <span>Koszt</span>
                    <span>200,00 zł</span>
                </div>
                <hr />
                <div class="d-flex justify-content-between mb-2">
                    <strong>Łacznie</strong>
                    <strong>200,00 zł</strong>
                </div>
                <button class="btn btn-dark w-100">Przejdź do Płatności</button>
            </div>
        </div>
    </div>
</div>



