@{
    ViewData["Title"] = "O Nas";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="~/foto/wall4.jpg" class="d-block w-100 custom-height object-fit-cover" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="display-4 fw-bold"><i>Tattoo</i></h2>
                <h1 class="display-1 fw-bold">O NAS</h1>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center text-center px-3">
    <div class="text-center mb-5">
        <h4 class="m-4 text-black-50"><i>Najważniesze pytania i odpowiedzi</i></h4>
        <h1 class="m-4">Najważniesze pytania i odpowiedzi</h1>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="d-flex flex-column p-4">
            <div class="accordion" id="accordionLeft">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#leftCollapseOne" aria-expanded="false">
                            Jak umówić się na tatuaż?
                        </button>
                    </h2>
                    <div id="leftCollapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Najpierw rozklikaj się w wirtualnej galerii prac naszych tatuatorów. Każdy z nich ma inny styl i za pomocą maszynki inaczej przenosi pomysły w rzeczywistość. 
                            Wybierz swojego faworyta, który wykona Twój tatuaż, a, jeśli masz wątpliwości, to chętnie pomożemy Ci dokonać najlepszego wyboru.
                            <br />
                            Odwiedź nasze studio i poczuj się jak u siebie. Odpowiemy na każde Twoje pytanie i chętnie uzupełnimy Twoje sugestie oryginalnymi propozycjami. 
                            Na konkretny termin z wybranym tatuatorem możesz umówić się osobiście, telefonicznie lub mailowo, a rezerwacja następuje po:
                            <ul>
                                <li>określeniu wielkości i typu tatuażu oraz części ciała, na której ma być wykonany</li>
                                <li>ustaleniu konkretnej daty i godziny</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#leftCollapseTwo" aria-expanded="false">
                            Ile kosztuje tatuaż?
                        </button>
                    </h2>
                    <div id="leftCollapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Wiemy, że chcesz usłyszeć konkretną odpowiedź. 
                            Niestety nie możemy Ci jej udzielić. Każdy projekt wyceniany jest indywidualnie, 
                            a cena uzależniona jest od wielkości, miejsca wykonania i stopnia skomplikowania tatuażu.
                            <br />
                            Startujemy od 300 zł. 
                            Od czego zależy cena? Po pierwsze od czasu trwania sesji, który może wynosić 4, 6 lub 8 godzin; po drugie od wybranego tatuatora, 
                            ponieważ każdy z nich pracuje nieco inaczej i w innym tempie.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column p-4">
            <div class="accordion" id="accordionRight">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rightCollapseOne" aria-expanded="false">
                            Kiedy mogę zobaczyć swój projekt?
                        </button>
                    </h2>
                    <div id="rightCollapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Nigdy nie przesyłamy wcześniej projektów drogą mailową, 
                            ponieważ projekt jest przygotowywany przed lub w trakcie pierwszej sesji – w zależności od systemu pracy konkretnego tatuatora.
                            <br />
                            W stworzeniu dla Ciebie jak najlepszego projektu, pomogą nam Twoje precyzyjne informacje 
                            i wszelkie przesłane materiały: zdjęcia i/lub grafiki.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rightCollapseTwo" aria-expanded="false">
                            Jak dbać o świeży tatuaż?
                        </button>
                    </h2>
                    <div id="rightCollapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Gojenie tatuażu trwa około 14 dni i jest uzależnione od indywidualnych predyspozycji oraz cech fizjologicznych.
                            <br />
                            Pamiętaj, że nawet najlepiej wykonany tatuaż, może wiele stracić przez niewłaściwe postępowanie w trakcie gojenia.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
