@{
    ViewData["Title"] = "Sklep";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="~/Foto/wall3.jpg" class="d-block w-100 custom-height object-fit-cover" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="display-4 fw-bold"><i>Tattoo</i></h2>
                <h1 class="display-1 fw-bold">SKLEP</h1>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-content-center min-vh-100">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-4">
                <a asp-area="" class="text-decoration-none text-black" asp-action="Produkt">
                <div class="card border-0 shadow-lg">
                    <img src="~/Foto/voucher1.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">Voucher na tatuaż do Alicji</p>
                        <h3><i>100,00 zł - 300.00 zł</i></h3>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-lg">
                    <img src="~/Foto/voucher1.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">Voucher na tatuaż do Alicji</p>
                        <h3><i>100,00 zł - 300.00 zł</i></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-lg">
                    <img src="~/Foto/voucher1.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">Voucher na tatuaż do Alicji</p>
                        <h3><i>100,00 zł - 300.00 zł</i></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-lg">
                    <img src="~/Foto/koszulki1.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">Koszulka</p>
                        <h3><i>117.00 zł</i></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-lg">
                    <img src="~/Foto/koszulki1.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">Koszulka</p>
                        <h3><i>117.00 zł</i></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-lg">
                    <img src="~/Foto/koszulki1.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">Koszulka</p>
                        <h3><i>117.00 zł</i></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


