@{
    ViewData["Title"] = "Zaloga";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="~/Foto/wall2.jpg" class="d-block w-100 custom-height object-fit-cover" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="display-4 fw-bold"><i>Tattoo</i></h2>
                <h1 class="display-1 fw-bold">ZAŁOGA</h1>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center text-center px-3">
    <div class="col-md-6 col-lg-5 col-xl-4 p-2">
        <input class="form-control form-select-lg border-light btn-dark" type="search" placeholder="Wyszukaj osobę z załogi" aria-label="Search">
    </div>
    <div class="container py-5">
        <div class="d-flex tattoo-layout">
            <div class="flex-shrink-0 w-75">
                <div class="tattoo-grid">
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 1" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 2" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 3" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 4" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 5" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 6" class="tattoo-img" />
                </div>
            </div>
            <div class="w-50 p-5">
                <h2 class="text-start">ALINA MALINOWSKA</h2>
                <p class="text-start">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                    as opposed to using 'Content here, content here', making it look like readable English.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="d-flex tattoo-layout">
            <div class="flex-shrink-0 w-75">
                <div class="tattoo-grid">
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 1" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 2" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 3" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 4" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 5" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 6" class="tattoo-img" />
                </div>
            </div>
            <div class="w-50 p-5">
                <h2 class="text-start">ALINA MALINOWSKA</h2>
                <p class="text-start">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="d-flex tattoo-layout">
            <div class="flex-shrink-0 w-75">
                <div class="tattoo-grid">
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 1" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 2" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 3" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 4" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 5" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 6" class="tattoo-img" />
                </div>
            </div>
            <div class="w-50 p-5">
                <h2 class="text-start">ALINA MALINOWSKA</h2>
                <p class="text-start">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="d-flex tattoo-layout">
            <div class="flex-shrink-0 w-75">
                <div class="tattoo-grid">
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 1" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 2" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 3" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 4" class="tattoo-img" />
                    <img src="~/Foto/tatto3.png" alt="Tatuaż 5" class="tattoo-img" />
                    <img src="~/Foto/tatto2.png" alt="Tatuaż 6" class="tattoo-img" />
                </div>
            </div>
            <div class="w-50 p-5">
                <h2 class="text-start">ALINA MALINOWSKA</h2>
                <p class="text-start">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.
                </p>
            </div>
        </div>
    </div>
</div>
