@model Projekt.Intranet.Models.CMS.TattoArtists

@{
    ViewData["Title"] = "Edit";
}
<div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="mt-4">Edytowanie</h2>
    <div class="col-md-6">
        <form asp-action="Edit" class="needs-validation text-white">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTattoArtists" />
            <div class="form-group">
                <label asp-for="Imie" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Imie" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Nazwisko" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przydomek" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Przydomek" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="Przydomek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LataDoswiatczenia" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="LataDoswiatczenia" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="LataDoswiatczenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specjalizacja" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Specjalizacja" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="Specjalizacja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerTelefonu" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="NumerTelefonu" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="NumerTelefonu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Email" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerKonta" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="NumerKonta" class="form-select form-select-lg border-light btn-dark" />
                <span asp-validation-for="NumerKonta" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <a asp-action="Index" class="btn btn-dark btn-lg border btn-outline-light">Back to List</a>
                <input type="submit" value="Save" class="btn btn-dark border-dark btn-lg btn-outline-light" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
