@model Projekt.Intranet.Models.Sklep.Zamowienia

@{
    ViewData["Title"] = "Create";
}
<div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="mt-4">Dodawanie</h2>
    <div class="col-md-6">
        <form asp-action="Create" class="needs-validation text-white" novalidate>
            <div class="form-group">
                <label asp-for="IdKlient" class="form-label col-form-label-lg text-dark"></label>
                <select asp-for="IdKlient" class="form-select form-select-lg border-light btn-dark" asp-items="ViewBag.IdKlient"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduktu" class="form-label col-form-label-lg text-dark"></label>
                <select asp-for="IdProduktu" class="form-select form-select-lg border-light btn-dark" asp-items="ViewBag.IdProduktu"></select>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <a asp-action="Index" class="btn btn-dark btn-lg">Back to List</a>
                <input type="submit" value="Create" class="btn btn-dark btn-lg" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
