@model Projekt.Intranet.Models.CMS.Platnosc

@{
    ViewData["Title"] = "Create";
}
<div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="mt-4">Dodawanie</h2>
    <div class="col-md-6">
        <form asp-action="Create" class="needs-validation text-white" novalidate>
            <div class="form-group">
                <label asp-for="IdRezerwacja" class="form-label col-form-label-lg text-dark"></label>
                <select asp-for="IdRezerwacja" class="form-select form-select-lg border-light btn-dark" asp-items="ViewBag.IdRezerwacja"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kwota" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Kwota" class="form-control form-control-lg border-light btn-dark" />
                <span asp-validation-for="Kwota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="Data" class="form-control form-control-lg border-light btn-dark" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodaPlatnosci" class="form-label col-form-label-lg text-dark"></label>
                <input asp-for="MetodaPlatnosci" class="form-control form-control-lg border-light btn-dark" />
                <span asp-validation-for="MetodaPlatnosci" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <a asp-action="Index" class="btn btn-dark btn-lg">Back to List</a>
                <input type="submit" value="Create" class="btn btn-dark btn-lg" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
