@{
    ViewData["Title"] = "Logowanie";
    Layout = "~/Views/Shared/_LogowanieLayout.cshtml";
}

<div class="d-flex w-100 vh-100 align-items-center justify-content-center">
    <div class="bg-dark rounded shadow p-4" style="min-width: 320px; max-width: 380px; width: 100%;">
        <h2 class="text-center text-white mb-4">Logowanie</h2>
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="mb-3">
                <label for="login" class="form-label text-white">Login</label>
                <input type="text" class="form-control" id="login" name="Login" placeholder="Wpisz login" required />
            </div>
            <div class="mb-3">
                <label for="haslo" class="form-label text-white">Hasło</label>
                <input type="password" class="form-control" id="haslo" name="Haslo" placeholder="Wpisz hasło" required />
            </div>
            <button type="submit" class="btn btn-dark btn-outline-light w-100" asp-area="" asp-controller="Home" asp-action="Index">Zaloguj się</button>
        </form>
    </div>
</div>
